spring:
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://127.0.0.1:3307/bamdoliro_gati
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: bamdoliro
    password: bamdoliro

  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update

debug: true
---
spring:
  config:
    activate:
      on-profile: product

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    generate-ddl: false